In [111]:
a=int(input("enter number"))
if(a>0):
    print("positive")
else:
    print("negative")

ValueError: invalid literal for int() with base 10: ''

In [ ]:
a=121
b=a
s=0
while(a>0):
    rem=a%10
    s=s*10+rem
    a=int(a/10)
print(s)

121

In [ ]:
a=153
s=0
n=a
while(a>0):
    rem=a%10
    c=rem**3
    s+=c
    a=int(a/10)
print(s)

153

In [ ]:
#for loop
a=1 #starting point
b=11 #ending point
for b in range(a,b):
    print(b,end=" ")

1 2 3 4 5 6 7 8 9 10

In [ ]:
# sum 1 to 100
a=0
b=101
for i in range(b):
    a+=i
    avg=a/100
print(a)
print(avg)

5050
50.5

In [ ]:
for i in range(0,100,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [ ]:
#factorial
f=1
for i in range(6,1,-1):
    f*=i
print(f)

720

In [218]:
#pattern
for i in range(6):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [219]:
for i in range(5):
    print("*"*6)

5
******
******
******
******
******

In [ ]:
for i in range(7):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [ ]:
for i in range(5):
    for j in range(5,i,-1):
        print(" ",end=" ")
    for k in range(i+1):
        print("*",end=" ")
    print("")

          *
        * *
      * * *
    * * * *
  * * * * *

In [ ]:
for i in range(5):
    for j in range(5,i,-1):
        print(" ",end=" ")
    for k in range(i+1):
        print(" * ",end=" ")
    print("")

           *
         *   *
       *   *   *
     *   *   *   *
   *   *   *   *   *

In [ ]:
for i in range(5):
    for j in range(5,i,-1):
        print(" ",end=" ")
    for k in range(2*i-1):
        print("*",end=" ")
    print("")

        *
      * * *
    * * * * *
  * * * * * * *

In [188]:
for i in range(4,0,-1): 
    for j in range(4,i,-1):
        print(" ",end=" ")
    for k in range(2*i-1):
        print("*" ,end=" ")
    print("")

* * * * * * *
  * * * * *
    * * *
      *

In [245]:
row=int(input("enter"))
for i in range(1,row+1):
    for j in range(1,row-i+1):
        print(" ",end="")
    for k in range(1,2*i):
        print("*",end=" ")
    print("")
    
for z in range(row-1,0,-1): 
    for j in range(1,row-i+1):
        print("  ",end="")
    for k in range(1,2*z):
        print("*" ,end="")
    print()

    *
   * * *
  * * * * *
 * * * * * * *
* * * * * * * * *
*******
*****
***
*

In [254]:
for i in range(6):
    for j in range(6,i,-1):
        print("",end=" ")
    for k in range(2*i-1):
        print("*",end="")
    print()
    
for z in range(4,0,-1): 
    for j in range(4,z,-1):
        print("",end=" ")
    for k in range(2*z-1):
        print("*" ,end="")
    print()

     *
    ***
   *****
  *******
 *********
*******
 *****
  ***
   *

In [76]:
l=[10,40,340,20,10,"Anuj"]
print(l)
print(l[5])
l[5]=37
print(l)


print(l[2:4])
print(l[4:])
print(l[3::-1])

m=l*2
print(m)

print(len(l))
print(min(l))
print(sum(l))

for i in l:
    if(i%4==0):
      print(i,end=" ")
    
print()
l.append("anuj")
print(l)
l.remove("anuj")
print(l)
l.pop(3)
print(l)
l.insert(3,"anuj")
print(l)

[10, 40, 340, 20, 10, 'Anuj']
Anuj
[10, 40, 340, 20, 10, 37]
[340, 20]
[10, 37]
[20, 340, 40, 10]
[10, 40, 340, 20, 10, 37, 10, 40, 340, 20, 10, 37]
6
10
457
40 340 20
[10, 40, 340, 20, 10, 37, 'anuj']
[10, 40, 340, 20, 10, 37]
[10, 40, 340, 10, 37]
[10, 40, 340, 'anuj', 10, 37]